#m2{
    background-color: #abc3f0;
    margin: 10px;
    padding: 10px;
}
#thongtinlienlac{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 4fr;
}
#thongtinlienlac input{
    width: 40vw;
}
